.footer {
  text-align: center;
  padding: 15px;
  background: #ddd;
  margin-top: 20px;

  &__wrapper {
    width: 100%;
  }
}

.Contacts {
  &__subtitle {
    margin-bottom: 10px;
    transition: color 0.3s ease;

    &:hover {
      color: blue;
      text-decoration: underline;
    }
  }

  &__links {
    margin-bottom: 15px;
    display: flex;
    gap: 10px;
  }
}
